@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
    --bck-dark: #000000;
    --bck-red: #f14936;
    --bck-white: #ffffff;
    --bck-dark-50: rgba(0, 0, 0, 0.5);
    --bck-red-50: rgba(241, 73, 54, 0.5);
    --bck-white-50: rgba(255, 255, 255, 0.5);

    --clr-dark: #000000;
    --clr-red: #f14936;
    --clr-white: #ffffff;

    --bck-dark-70: rgba(0, 0, 0, 0.7);
    --bck-red-70: rgba(241, 73, 54, 0.7);
    --bck-white-70: rgba(255, 255, 255, 0.7);

    --d: 1s;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{

    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    text-shadow: 0 .05rem .1rem var(--bck-dark-70);
    box-shadow: inset 0 0 .05rem var(--bck-dark-70);
    /*color: var(--clr-white);*/
    /* background: url({{ url("img/web/bg/main.jpg") }}); */
}

/* Sections */
section{
    text-align: center;
    padding: 70px 0;
    justify-content: center;
    overflow-x: hidden;
}

.section-fs{
    max-height: 100%;
}

.section-hf{
    min-height: 50%;padding: 60px 0;
}

footer{
    margin: 30px auto;
    justify-content: center;
    text-align: center;
}

/* Section Title */
.section-title .title {
    font-size: 34px;
    line-height: 5px;
    margin-bottom: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--clr-red);

}
@media (max-width: 767px) {
    .section-title .title {
        font-size: 24px; } }
    .section-title .sub-title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 26px; }
@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 26px; } }
    .section-title .sub-title span {
        font-weight:900; }
    .section-title .sub-title {
        font-size: 26px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .sub-title {
        font-size: 28px; } }
@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 24px; } }
    .section-title .sub-title span {
    font-weight:900;
        display: contents; }


/* ==========================================================================
    Scroll To Up
========================================================================== */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    background-color: #000;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.scroll {
    width: 100%;
    color: var(--bck-dark-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    letter-spacing: 0.1em;
    font-size: 14px;

}
    span {
        display: block;
    }

    svg {
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 1;
        animation: scroll 1s ease-in-out alternate infinite;
        -webkit-animation: scroll 1s ease-in-out alternate infinite;
        -moz-animation: scroll 1s ease-in-out alternate infinite;
        -o-animation: scroll 1s ease-in-out alternate infinite;
        -ms-animation: scroll 1s ease-in-out alternate infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}
